.future-container{
    align-items: center;
    text-align: center;
}

.future-container img{
    height: 300px;
    width: 300px;
    border-radius: 55px;
}

.future-container p{
    margin-top: 20px;
}

.empty-shop-div img{
    height: 100px;
    width: 150px;
}