nav {
    margin: 0;
    padding: 0;
    background-color:white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 12px 36px 12px 36px;
    height: 60px;
    border-bottom: 2px solid rgba(211,211,211,0.5)
}

.logo {
    cursor: pointer;
    margin-right: auto;
    height: 50px;
    width: 90px;
}

.signin-button {
   padding: 9px 25px;
   background: rgba(241,100,30);
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: all 03.s ease 0s; 
}

.signin-button:hover {
    background-color: rgba(241,100,30, 0.8);
}

.signin-shopping-list{
    display: flex;
    align-items: center;
    list-style-type: none;
   
}

.signin-shopping-list li{
    padding: 10px;
}

.profile-shop-cart{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.profile-shop-cart li{
    padding: 15px;
 
   
    
    
}

/* .profile-shop-cart li:hover{
    border-radius: 30px;
    background-color:rgba(211,211,211,0.5); 

} */

/* .profile-button-div{
    border-style: none;
    height: 20px;
    width: 20px;
    border-radius: 30px;
    background-color:blue;


} */

.fa-user{
    
    padding: 0;
    margin: 0;

    
    
}

.fa-caret-down{
    color: black;
    padding: 0;
    margin: 0;
    

}

.fa-store {
    color:rgb(34,34,34);
}

.fa-cart-shopping {
    color:rgb(34,34,34)
}

.profile-li{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    height: 30px;
    width: 45px;
    background-color: #FFFFFF;
}

.search {
    width: 70%;
    position: relative;
    display: flex;
    margin-left: 10px;
  }
  
  .searchTerm {
    width: 100%;
    border: 0.1rem solid black;
    background-color: rgba(211,211,211,0.5);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 20px 0 0 20px;
    outline: none;
    color:gray;
  }
  
  .searchTerm:focus{
    color:black
  }
  
  .searchButton {
    width: 40px;
    height: 33.2px;
    border: 0.1rem solid black;
    border-left: 0;
    background: rgba(211,211,211,0.5);
    text-align: center;
    color:black;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    
  }

  .searchButton:hover{
    background: rgba(211,211,211,0.8);
  }
  


/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    background-color:white;
    right: 1%;
    padding: .75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .3);
    border-radius: 15px;
    display: none;
    z-index: 1;
    pointer-events: auto;
    width:100px;
    font-size: 12-px;
    text-align: left;
   
}

 .dropdown:hover .dropdown-menu {
    display: block;
  box-shadow:2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
        border-radius: 15px;} 

.dropdown-button {
    display: flex;
    background-color:white;
    color:black;
    padding: 3px 6px 3px 10px;
    font-size: 16px;
    border:none


}
.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-menu ul{
    list-style: none;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

.dropdown-menu li{
    padding: 0;
    margin-bottom: 5px;
}


.shop-button{
    background-color: white;
    border: none;
    cursor: pointer;
}


